<h2>New Comment</h2>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="comment[commenter]">Commenter:</label>
  <input name="comment[commenter]">

  <label for="comment[comment_content]">Comment:</label>
  <input name="comment[comment_content]">

  <input type="submit" value="Create">
</form>
