<h2>Edit Field Report</h2>

<%= render partial: "form" %>

<h4><%= "Last Edited: #{time_ago_in_words(@post.updated_at)} ago" %></h4>

<%= form_for(@post, method: :delete) do |f| %>
  <%= f.submit "Delete Record"%>
<% end %>
